/* Estilo para o input de data */
input.dia[type="date"] {
    border: 2px solid #004f4e; /* Cor da borda semelhante ao botão "ESCOLHER" */
    border-radius: 25px; /* Bordas arredondadas */
    background-color: #004f4e; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    padding: 10px 15px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    margin: 10px 0; /* Espaçamento externo */
    outline: none; /* Remover o contorno padrão ao focar */
    box-shadow: none; /* Remover sombra padrão */
    cursor: pointer; /* Mostrar cursor de mão ao passar o mouse */
}

/* Ajustar a aparência do calendário (apenas para navegadores que suportam) */
input.dia[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #004f4e; /* Cor do ícone do calendário */
    color: #ffffff; /* Cor do ícone */
    padding: 2px;
    border-radius: 50%;
}
